html,
body {
    width: 1600px;
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

header {
    background-color: #ECECEC;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20 0;
}
.menu-item {
    color: #212121;
    text-decoration: none;
    padding: 10px;   
}
.menu-item:hover {
    color: #2196F3; /* Цвет меню при наведении*/
}
.menu {
    width: 1200px;
    margin: 0 auto;
    margin-left: 215px;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.ep {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.logo-1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}


.headline {
    padding-top: 200px;
    padding-bottom: 220px;
    text-align: center;
    margin: 0 auto;
    width: 1600px;
    height: 252px;
    background: #2F303A;
}
.titel-text {
    position: sticky;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    width: 696px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto; 
    color: #FFFFFF;
}
.button-main {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: 0;   
}
.button-main:hover {
    background: #ffffff;
    color: #000000;
    /* Цвет меню при наведении*/
}

.info {
    padding-left: 120px;
}
.info-list {
    width: 1200px;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    white-space: nowrap;
    font-size: 0;
}
.info-test {
    white-space: normal;   
    width: 30%;
    vertical-align: top;
    margin-right: 5%;
    font-size: 14px;
    padding-right: 10px;
    text-decoration: none;
}

.test {
    
    width: 1170px;
    margin: 0 auto;
}
.title-img {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.img-info {
    width: 370px;
    height: 294px;
    background: #FFFFFF;
}
.title-inf {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}


.team {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 94px;
    text-align: center;
}
.team-bg {
    margin: 0 auto;
    background: #F5F4FA;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
}
.list-gb {
    width: 270px;
    height: 368px;
    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    padding-top: 90px;
    padding-bottom: 50px;
}
.title-team-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.people {
    width: 270px;
    height: 260px;
    background: #FFFFFF;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.p1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}


.footer {
    margin: 0 auto;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background: #2F303A;
}
.container-footer {
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer-info {
    list-style-type: none;
    padding-top: 40px;
    line-height: 250%;
}
.logo-3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-email,
.footer-phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-email1,
.footer-phone1 {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.btn-group {
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    font-size: 0;
    cursor: pointer;
    border-radius: 4px;
}
.button-portfolio {
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    letter-spacing: 0.03em;
    color: #020202;
    padding: 10px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

}
.button-portfolio:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* Цвет меню при наведении*/
}
.project {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 60px;
}
.project-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.project-list-gb {
    width: 360px;
    height: 400px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.project-p{
    background: #FFFFFF;
    width: 360px;
    height: 294px;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.p2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}


















